@name "MotEx" 
@author "mao"
Relationships: 
MobilePhone {
	Connectivity  {
		Bluetooth {
		oneOf {
			Bluetooth20EDR
			Bluetooth21EDR
			Bluetooth40
			}
		}
		GSM
		? LTE
		? WiFi
		? USB
		Battery { 
			oneOf {
				LiBattery1160
				LiBattery1400
			}	
		}
}
}

Attributes: 
int *.productivity
int *.batteryLife
int *.security
int *.cost
//int MobilePhone.total_productivity = sum (*.productivity) 
//int MobilePhone.total_batteryLife =  sum (*.batteryLife)
//int MobilePhone.total_security = sum (*.security)
//int MobilePhone.total_cost
//MobilePhone.total_cost = sum (*.productivity)//just to show assignments after variable declaration

//values for attr: cost 
//{ 	[ Bluetooth21EDR , 1 ]
//	[ Bluetooth20EDR , 2 ] 
//	[ Bluetooth40 , 3]
//	[GSM , 2]
//	[LTE , 5]
//}
